.tasks-list-widget ul {
  list-style: none;
  padding-inline: 0;
}

.tasks-list-widget .pomodoro-tasks-settings svg {
  height: 1.5rem;
}

.tasks-list-widget button.pomodoro-tasks-settings {
  padding: 0.5rem;
}

.tasks-list-widget .pomodoro-tasks-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tasks-list-widget .pomodoro-tasks-header h2 {
  margin-block: auto;
}
