button.mode-selection.selected {
  background-color: #99999999;
}

button.mode-selection {
  background-color: transparent;
  padding: initial;
  border-radius: 0.1rem;
  width: 100%;
  height: 100%;
}
