.logo-widget {
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 1.5rem;
  gap: 0.5rem;
}

.logo-widget .logo-text {
  font-size: 100%;
  padding-left: 0.5rem;
  margin-block: auto;
}

.logo-widget img {
  height: inherit;
  width: inherit;
}
