.logo-widget {
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 1.5rem;
  gap: 0.5rem;
  align-self: center;
}

.logo-widget .logo-text {
  font-size: inherit;
  margin-block: auto;
  line-height: 1;
}

.logo-widget img {
  height: inherit;
  width: inherit;
}
